body {
    background-color: #F2F0EF;
}

.main-bg {
    background-color: #F2F0EF;
}

.bg-grey {
    background-color: #3b444b;
}

.dropdown-menu {
    background-color: #F2F0EF;
}

footer {
    background-color: #d3d3d3;
}
