{% extends 'league/base.html' %}
<!-- -->
{% block content %}
<h1>About the Newbury 40K League</h1>
<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <p>The Newbury 40K League is a casual Warhammer 40K league based out of Newbury for fans of the hobby to
                    get together and play games in a more organised and structured manner.</p>
                <p>Signup and Register for the league to be able to submit your game results and see how well you did by
                    the end of the season. All games follow the current official ruleset laid out by Games Workshop
                    (TM), and in the case of any confusion of rules, players are allowed to use their best descretion to
                    seetle any disputes, as long as both players come to an agreement.</p>
                <h3>How the league works:</h3>
                <ul>
                    <li>Players will be given random opponents to which they must organise to play within the given
                        season.</li>
                    <li>Once a game has been played, users must submit their results via the Newbury 40K League website.
                    </li>
                    <li>Upon submission the League table will be updated with their relevant results.</li>
                    <li>Each game will net a play one League Point and in the case of a victory you will receive 2
                        League points</li>
                    <li>A running vitory point tally is maintaned in case of any ties with regards to league points.
                    </li>
                </ul>
                <img src="/static/media/gameplay.png" alt="Gameplay" class="img-fluid float-md-end me-md-3 mb-3">
            </div>
        </div>
    </div>
</div>
{% endblock content %}