{% extends 'league/base.html' %}
<!-- -->
{% block content %}
<h1>Player {{object.name}}</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Faction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.faction }}</td>
          </tr>
        </tbody>
      </table>
{% if request.user.is_authenticated or user.is_staff %}
<div class="col-4">
  <a class= "btn btn-outline-info" href="{% url 'player-update' object.id %}">Update</a>
  <a class= "btn btn-outline-danger" href="{% url 'player-delete' object.id %}">Delete</a>
</div>   
{% endif %}
{% endblock content %}