{% extends 'league/base.html' %}
{% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="container">
    <form action="submit" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Submit your game results {{ player.name }}!</legend>
            <div class="col-auto">
                <label for="playerFaction" class="visually-hidden">Faction</label>
                <input type="text" readonly class="form-control-plaintext" id="playerFaction"
                    value="{{ player.faction }}">
            </div>
            <div class="col-auto">
                <label for="results" class="visually-hidden">Results</label>
                <input type="number" class="form-control" id="results" name="results" min="1" max="100">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="victory">
                <label class="form-check-label" for="flexSwitchCheckDefault">Did you win your game? ON=YES, OFF=NO</label>
              </div>
        </fieldset>
        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="submit" value="Submit Results">
        </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'home' %}">Cancel</a>
    </div>
</div>
{% endblock content %}